<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="webIEAEntities" connectionString="metadata=res://*/IEA.csdl|res://*/IEA.ssdl|res://*/IEA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MDD6GSQ\SYEDALIHAMZA;initial catalog=webIEA;integrated security=True;application name=DummyWebsite;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>