<?xml version="1.0"?>
<appSettings>

  <add key="AppContext.SetSwitch:Switch.System.IO.UseLegacyPathHandling" value="false" />
  <add key="AppContext.SetSwitch:Switch.System.IO.BlockLongPaths" value="false" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="DefaultPath" value="c:\servertemp" />
  
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="vs:EnableBrowserLink" value="false" />

  <add key="WebsiteID" value="1" />
  <add key="WebsiteName" value="Dummy Website" />
  <!-- folder content -->
  <add key="Web:ShortTextFieldName" value="ShortText({0})" />
  <add key="Web:DescriptionFieldName" value="Description({0})" />
  <add key="Web:DateFieldName" value="Website date" />
  <add key="Web:LanguageFieldName" value="Language" />
  <add key="Web:FolderContents:SizeFormat" value="# ### ### ##0" />
  <add key="Web:FolderContents:ShowSize" value="Column" />
  <add key="Web:FolderContents:ShowArchivedFiles" value="false" />
  <add key="Web:FolderContents:FileTypePattern" value="~/img/types/{0}.gif" />
  <add key="Web:SaveCurrentLocalization" value="true" />
  <add key="Web:Debug" value="true" />
  <add key="Web:bundleEventManagerPathDedug" value="/Areas/Flexpage/Content/Scripts/EventManager/_bundleEventManager.js" />
  <add key="Web:bundleEventManagerPath" value="/Areas/Flexpage/Content/Scripts/EventManager/_bundleEventManager.min.js" />
  <add key="CMS:ToolbarSet" value="Basic" />
  <add key="CMS:AllowedLanguages" value="en,nl,fr" />
  <add key="CMS:DefaultLangCode" value="en" />
  <add key="CMS:UseWYSIWYGEditor" value="true" />
  <add key="CMS:ScrambleEmails" value="true" />
  <add key="CMS:AdminRoles" value="Admin" />
  <add key="CMS:DialogBasedEditing" value="true" />
  <add key="CMS:PrototypePath" value="~/js/prototype.js" />
  <add key="UserFilesPath" value="~/img/user/" />
  <add key="TempUploadedImagesPath" value="/Content/Images/TempUploadedImages/" />  
  <add key="TempWaterMarkedImagesPath" value="/Content/Images/TempWaterMarkedImages/" />
  <add key="CMS:TempUploadedWebFormFile" value="/App_Data/Flexpage/WebForm/Files/" />
  <add key="CMS:SearchResultsOnPage" value="20" />
  <!--upload files-->
  <add key="FP:UploadedFilesPath" value="F:\Files\Dummy\FPFiles\" />
  
  <!--SiteMap, FlexPage & LogViewer settings-->
  <add key="FP:UserRoles" value="Admin,User,Member" />
  <add key="FP:UsePreviousJQueryVersionForIE9" value="true" />
  <add key="LV:LogEntryClass" value="Pluritech.WebTools.LogEntry.LogEntry, WebTools, Version=1.0.0.0, Culture=neutral, PublicKeyToken=00dd913bfe935264" />
  <!-- place where user uploads pics -->
  <add key="FCKeditor:BasePath" value="~/FCKeditor/" />
  <add key="FCKeditor:UserFilesPath" value="~/img/user/" />
  <add key="CMS:ToolbarSet" value="Basic" />
  <!-- place where user uploads pics, must be the same as UserFilesPath -->
  <add key="CMS:ImageBrowserURL" value="~/ckfinder/ckfinder.html?type=Images" />
  <add key="IM:ColumnsCount" value="3" />
  <add key="IM:ShowFolders" value="true" />
  <add key="IM:UserSeparated" value="true" />
  <add key="IM:GetThumbOutputFormat" value="PNG" />
  <add key="UploadedImagesPath" value="~/img/user/" />
  <!-- place where user uploads pics, must be the same as UserFilesPath -->
  <add key="UploadedImagesExtensions" value="gif,png,jpg,svg" />
  <add key="SubscribeUrl" value="#" />
  <!-- Advanced Search Diagram -->
  <add key="FP:AdvancedSearchDiagramFiles" value="/App_Data/AdvancedSearch/" />
  <!-- Keys for collapsible menu. Possible values is: outerTopRight, outerTopLeft, innerTopRight, innerTopLeft, outerBottomRight,  outerBottomLeft, innerBottomRight, innerBottomLeft -->
  <add key="FP:BlockControlsIconPosition" value="outerTopRight" />
  <add key="FP:BlockControlsDropStyle" value="true" />
  <add key="JS:FilterPath" value="~/js/FilterManager.js" />
  <add key="JS:MulticolumnPath" value="~/js/MultiColumn.js" />
  <add key="JS:JqueryPath" value="~/js/jquery.js" />
  <add key="JS:JqueryUIPath" value="~/js/jquery.ui.js" />
  <add key="JS:JqueryUICssPath" value="~/css/jquery-ui.css" />
  <add key="JS:JqueryMerge" value="~/js/jquery-migrate.js" />
  <add key="JS:JqueryPathPrevious" value="~/js/jquery.pre.js" />
  <add key="JS:JqueryUIPathPrevious" value="~/js/jquery.ui.pre.js" />
  <add key="JS:JqueryMergePrevious" value="~/js/jquery-migrate.pre.js" />
  <add key="FP:FileVersions" value="/Bin/Flexpage.dll , /Bin/DALCore.dll"></add>
  <add key="FP:SVGMapSource" value="~/SVGMap/SVG.svg" />
  <add key="CMS:Extensions" value="Pluritech.PluriWorks.WebCore.FolderContents, WebCore; Pluritech.PluriWorks.WebCore.FolderContentFiles, WebCore"/>
  <add key="FP:BackupResourceFiles" value="1" />
  <!-- Keys for temp folders - Base library -->
  <add key="Base:TempFolderUpload" value="~/uploads/" />
  <add key="Base:TempFolderDownload" value="~/downloads/" />
  <add key="Base:TempFolderContactImport" value="~/Temp/" />
  <add key="Base:TempFolderLinkSharing" value="~/img/tempLinkShareView/" />
  <add key="FP:FallbackAlternateText" value="image" />
  <add key="FP:FallbackPageTitle" value="Dummy" />
  <!--<add key="SiteMap:DefaultSiteMapName" value="Web"/>-->

  <add key="EmailEngine:TempFolder" value="f:\Files\Dummy\Emails\" />
  
  <add key="FacebookAppId" value="" />
  <add key="FacebookAppSecret" value="" />
  <add key="FacebookApiVersion" value="v3.1" />
  <add key="FacebookRedirectUri" value="" />

  <add key="InstagramAppId" value="" />
  <add key="InstagramClientSecret" value="" />
  <add key="InstagramRedirectUri" value="" />

  <!-- cookie-->
  <add key="FP:CookieLoggedUser" value="DummyWebsiteLoggedUser" />
  <add key="FP:CookieUserRoles" value="DummyWebsiteUserRoles" />
  <add key="FP:Maintenance" value="" />
  <add key="FP:MaintenancePage" value="" />
  <add key="FP:MaintenanceText" value="" />
  <add key="FP:MaintenanceIgnorRedirect" value="/Account/Login,/Account/Logout" />
  <add key="FP:ContactsPageURL" value="/Flexpage/Contacts/{id}" />
  <!-- email scrumbling-->
  <add key="FP:ScrambleEmails" value="true"/>
  <!-- 
  This tells if vby default the file content should be stored in blobs in DB. If this setting is set to false then local storage will be used instead.
  All future new developments should use local storage by default.
  -->
  <add key="FP:FileContentIsStoredInBlobs" value="false" />
  <add key="FromAddress" value="test@pluritech.com" />
  <add key="ToAddress" value="test@pluritech.com" />

  <add key="SOA:DefaultFileContentPath" value="F:\Files\Dummy\PWFiles\" />


  <!-- HtmlEditor settings -->
  <add key="FP:HtmlEditorMaxFileSize" value="5000000" />
  
  <!-- PWoW Browser -->
  <add key="FP:BrowserTheme" value="MetropolisBlue" />

  <!-- Google Analytics -->
  <add key="GoogleAnalyticsId" value=""/>

  <add key="PWoW:SaveLogInDataBase" value="true" />

  <!-- Session timeout warning -->
  <add key="SessionWarningDelaySecond" value="30" />
  <!-- SessonTimeoutCheckDelaySecond is the time window between the session supposedly expiring and script checking if it actually did expire -->
  <add key ="SessonTimeoutCheckDelaySecond" value="10"/>
  <add key ="EnableSessionTimeoutWarning" value ="false"/>
</appSettings>
