<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
      <add key="repositoryPath" value="%PTNugetPackages%" />
  </config>
  <packageSources>
      <add key="DevExtreme" value="https://nuget.devexpress.com/ulqHoYRlkF3c1tPDfgBpcWqV4T9j8M6gIRHEDFOQXPaJ1sgOLN/api" />
  </packageSources>
</configuration>
