@{
    ViewBag.Title = "IEA - Home";
}

<section id="banner">

    <div class="banner" style="background-image: url('Content/Images/banner.jpg'); ">
        <div class="row">
            <div class="col-md-5 col-md-offset-6 text-center">
                <h2>Boulevard de la Woluwe 46 -&nbsp;Bte 5</h2>
                <h2><strong>1200 BRUXELLES</strong></h2>
                <h3>Tél : 02/880.40.47</h3>
                <a href="/FAQ.aspx">
                    <div class="btn">DO YOU HAVE A QUESTION?</div>
                </a>
            </div>
        </div>
    </div>
    <style type="text/css">
        .navhome {
            display: inline;
        }

        .navregular {
            display: none;
        }
    </style>
</section>

<section id="mission">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>
                    The IAE's mission



                </h2><p>THE PURPOSE OF THE INSTITUTE FOR AUTOMOTIVE EXPERTS IS TO ENSURE THE TRAINING AND PERMANENT ORGANISATION OF A BODY OF SPECIALISTS CAPABLE OF EXCERCISING THE AUTOMOTIVE EXPERT PROFESSION AS DEFINED IN ARTICLE 4 OF THE ACT ON THE RECOGNITION AND PROTECTION OF THE AUTOMOTIVE EXPERT PROFESSION, TAKING INTO CONSIDERATION ALL THE REQUIRED GUARANTEES IN TERMS OF COMPETENCE, INDEPENDENCE AND PROFESSIONAL PROBITY AND TO ENSURE THE PROPER EXECUTION OF THE TASKS ENTRUSTED TO ITS MEMBERS.</p>




                <style type="text/css">
                    #breadcrumb {
                        display: none;
                    }
                </style>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</section>