@model Pluritech.Pluriworks.Service.DTO.EnumListModel

<script type="text/javascript">

    function fp_initJS() {
        window.fp_preSaveBlock = function () {
        }
    }

    function fp_enumListCustomButtonClick(s, e) {
        if (e.buttonID == 'bDelete')
            fp_ConfirmDialog('Delete', 'Are you sure you want to delete the enum?', function() { s.DeleteRow(e.visibleIndex); });
        else
        if (e.buttonID == 'btnItems')
            fp_popupControlOpen({ command: 'edit', blockType: 'Enum', blockID: s.GetRowKey(e.visibleIndex), alwaysCallOnClose: true, allowSave: 0 }, function () { fp_initJS(); s.PerformCallback(); });
    }

    function fp_enumListAfterAddEnum() {
        fp_EnumList_Grid.PerformCallback();
        fp_initJS();
    }

    fp_popupControlChangeTitle('ENUM MANAGER', '#fp_EnumManagerContainer');
    fp_initJS();

    $(document).ready(function () {
        let _controlsForTracking = [
            '#IsHeaderLink',
            '#ShowPager',
            '#ShowAsGrid'
        ];
    });
    function fp_enumEndCallback(s, e) {
        if (s.cpEditError && s.cpEditError != "")
            fp_ConfirmDialog('Delete error', s.cpEditError, function () { });
    }  
</script>

<div class="flexpage" id="fp_EnumManagerContainer">
    @using (Ajax.BeginForm("PWUpdateEnums", "Admin", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "fp_EnumManagerContainer" }, new { id = "fp_EnumManagerForm", forTraking = "" }))
    {
        <!--records-->
        <div class="flexpage records-field">
            @Html.Action("PWEnumsGrid", "Admin")
        </div>
    }
</div>
