@model Flexpage.Abstract.DTO.IBlockModel
@{ 
    var size = System.Web.HttpContext.Current.Session["FP:CopyBlock"] != null ? 6 : 12;
}
<div class="block-icons-top flexpage-blockAddIcon">
    <div class="row">
        @if (System.Web.HttpContext.Current.Session["FP:CopyBlock"] != null)
        {
            
            <div class="col-md-6 pull-right">
                <button class="btn btn-blue-fullcolor-radius" data-toggle="modal" data-target="#flexpage-popup-control"
                        onclick="fp_PasteBlock('@Model.ID','@Model.BlocklistID')">
                    <i class="fas fa-plus"></i> Paste block below
                </button>
            </div>
        }
        <div class="col-md-@size pull-right">
            <button class="btn btn-blue-fullcolor-radius" data-toggle="modal" data-target="#flexpage-popup-control"
                    onclick="return fp_popupControlOpen({ command:'add', blocklistID: '@Model.BlocklistID', blockAfter: '@Model.ID' })">
                <i class="fas fa-plus"></i> Add block below
            </button>
        </div>
    </div>
</div>
