<h3>Folder Notifications</h3>

@Html.Action("FolderNotificationsGrid", "Notifications")
<br />
<a href="javascript:void(0)" onclick="ShowNotificationSettings()" style="font-weight:normal; text-decoration:underline;">General Notification Settings</a>

<script src="~/Areas/Flexpage/Content/Scripts/Notifications/NotificationSettings.js"></script>