
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav navbar-right navhome">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="~/Member/Register">Become Member</a>
                </li>
                <li>
                    <a class="page-scroll" href="~/Members/BecomeIntern">Become Intern</a>
                </li>
                <li>
                    <a class="page-scroll" href="~/Login">Sign-In</a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>


