<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        @Html.ActionLink("Genreal Information", "Details", new { id = Convert.ToString(Session["TempId"]) }, null)

    </li>
    @*<li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
        </li>*@
    <li class="nav-item">
        @Html.ActionLink("Settings", "ChangePassword", new { id = Convert.ToString(Session["TempId"]) }, null)

    </li>
    <li class="nav-item">
        @Html.ActionLink("Document", "Documents", new { id = Convert.ToString(Session["TempId"]) }, null)

    </li>
    <li class="nav-item">
        @Html.ActionLink("History", "MyHistory", new { id = Convert.ToString(Session["TempId"]) }, null)

    </li>

</ul>