.container-not-found {
    height: 70vh;
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
    .container-not-found .btn-go-to-home {
            width: 150px;
            padding: 10px 0;
            margin-top: 30px;
    }
    .container-not-found h1 {
        text-transform: uppercase;
        color: rgb(35, 89, 142);
        font-size: 34px;
        font-weight: 600;
        margin-bottom: 50px;
        letter-spacing: 1px;
    }

    .container-not-found p {
        color: rgb(151, 151, 151);
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .container-not-found .error-code {
        color: rgb(151, 151, 151);
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 30px 0 20px 0;
    }

