.videoplaylist-block {

}
    .videoplaylist-block .playlist-description {
    }

    .videoplaylist-block .playlist-title {

    }

    .videoplaylist-block .playlist-items {
        overflow-y: auto;
        height: 100%;
    }

        .videoplaylist-block .playlist-items .playlist-item {

        }
            .videoplaylist-block .playlist-items .playlist-item .playlist-item-picture {
                width: 64px;
                height: 64px;
            }
            .videoplaylist-block .playlist-items .playlist-item .playlist-item-link {
            }

    .videoplaylist-block .video-block {
    }

        .videoplaylist-block .video-block .video-container {
            width: 100%;
            height: 400px;
        }



        .videoplaylist-block .video-block .video-description {
        }
