@model Flexpage.Models.BrowserSelectorModel
@Scripts.Render(Html.Action("GetScriptPath", "Settings", new { area = "Flexpage" }).ToString())
@{
    string title = (string)ViewData["Title"];
}
<div class="fp_browserSelector">
    @Html.Partial("~/Areas/Flexpage/Views/Flexpage/Browser.cshtml", Model)
</div>
<script type="text/javascript">
    @{
        Session["DelayFooterAppend"] = true;
     }
    $(function () {
        fp_popupControlChangeTitle('@(title!=null? title.ToString():"")'.toUpperCase(), '.fp_browserSelector');
        console.log("browserSelectorNew");
        //fp_showModalFooter();

    });
    var _selectedFolder = '';


    function fp_getSelectedObject(e) {
        var $rows = $(".fp_folderContent [class*='dxgvSelectedRow']");
        var result = [];
        if ($rows.length > 0) {
            $rows.each(function (i, row) {
                //debugger;
                console.log("fp_getSelectedObject");
                result.push({ id: $(row).find("[data-rowid]").first().attr("data-rowid"), name: $(row).find(".fp_gridNameValue").first().html(), ext: $(row).find(".fp_gridNameValue").first().data('ext') })
            });
        }
        return result;
    }

</script>